:root{
  --primary:#4240b4;
  --background:#dddddd;
}

.dark{
  --background:#222222;
  --color:#fff;
}


body{
  background-color: var(--background);
  color: var(--color);
  
}

.btn{
  background-color: var(--primary);
}