div.card{
    border: unset;
}

.container{
    background-color: rgb(198, 201, 204);   
}

.card-body{

    background-color:rgb(198, 201, 204) ;
}
.col-sm-10 input, .col-sm-10 textarea{
    
    border: 2px solid rgb(160, 159, 159);
    background-color: rgb(198, 201, 204);
    box-shadow: 2px 2px  grey;
    color: black;
    width: 50%;
}

@media(max-width:800px){
    .col-sm-10 input, .col-sm-10 textarea{
        width: 100%;
    }
}







 