#header{
    padding: 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px; 
    padding-right: 35px;
}
.navbar{
    padding: 0 0.5rem;
}
/* image top */
.carousel-caption {
    right: unset;
    left: unset;
    text-align: unset;
    padding-left: 35px;
    top: 0;
}

/* treatment overview */
.treatment{
    align-items: center;
}

/* form  */
.card h1{
    color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card{
    box-shadow: 1px 1px 6px;
}