*{
    font-size: x-large;
    

}
h1{
    text-align: center;
    margin-bottom: 100px;
    
}

.container  {
    background-color: rgb(58, 57, 57);
    margin-top: 100PX;
    margin-bottom: 150px;
    box-shadow: 10px 10px 5px rgb(137, 146, 155);
    height: 600px;
    
}
.sec1   {
    margin-left: 100px;
}
form{
    
    margin-left: 50px;
    margin-right: 50px;
    height: 450px;
    
    

    
}

input{
    
    height: 60px;
    border-radius: none ;
    

}

input:hover{
    background-color:rgb(214, 210, 210);
}
.form-control{

    margin-top: 80px;
    width: 200px;

}

.btn .btn-success, button{
    float: right;
    margin-top: 20px;
    border-radius: 50px;
}

 .fa-envelope{
    color: rgb(196, 7, 7);
    margin-left: 60px;

}

.fa-envelope:hover{
color: rgb(228, 15, 15);

}

.fa-facebook-square{
    color: rgb(62, 77, 128);
    
}

.fa-facebook-square:hover{
color:  rgb(88, 111, 184); ;
}



/* img{
    height: 50px;
    width: 50px;
    display: -moz-inline-box;
    margin-left: 120px;
    margin-bottom: 40px;
    
} */

  a {
margin-top: 50px;    
margin-right: 150px;
align-content: center;
    
}